
    <div class="uk-flex uk-flex-top uk-flex-center uk-width-4-5" style="margin: 5% auto">

        <div class="uk-card" style="border-right: 1px solid">
            <div class="uk-card-header">
                <h3>Create test</h3>

            </div>
            <div class="uk-card-body uk-text-left">
                <p class="uk-text-break">On thes pge you can create test</p>
            </div>
            <div class="uk-card-footer uk-text-center">
                <a class="uk-button uk-button-primary" href="/createtest">create test</a>

            </div>
        </div>

        <div class="uk-card" style="border-left: 1px solid">
            <div class="uk-card-header">
                <h3>Finish test</h3>

            </div>
            <div class="uk-card-body uk-text-left">
                <p class="uk-text-break">On thes pge you can create test</p>
            </div>
            <div class="uk-card-footer uk-text-center">
                <a class="uk-button uk-button-primary" href="/finishtest">Finish test</a>

            </div>
        </div>
    </div>