<div style="width: 80vw; height: 80vh; margin-top: 10%">



        {% if team != ""%}

        <div class="uk-section uk-preserve-color uk-section-muted">
            <div class="uk-container">
        
                <div class="uk-panel uk-margin-medium">
                    <h3>Information</h3>
                </div>
        
                <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
                    <div>
                        <header class="uk-comment-header">
                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-comment-avatar" src="https://cdn-icons-png.flaticon.com/512/1786/1786608.png" width="200" height="200" alt="">
                                </div>
                                <div class="uk-width-expand">
                                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">All done!</a></h4>
                                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                        <li><a href="#">You have a team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                    </div>
                    <div></div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                            <h3 class="uk-card-title">{{team.name}}</h3>
                            <form method="POST">
                                {% csrf_token %}
                                <button class="uk-button uk-button-danger" type="submit" name="leaveTeam">leave</button>
                            </form>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>

     
        {% else %}


        <div class="uk-flex uk-flex-top">

            <div class="uk-section uk-preserve-color uk-section-muted">
                <div class="uk-container">
            
                    <div class="uk-panel uk-margin-medium">
                        <h3>Information</h3>
                    </div>
            
                    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
                        <div>
                            <header class="uk-comment-header">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-comment-avatar" src="https://cdn-icons-png.flaticon.com/512/2353/2353678.png" width="200" height="200" alt="">
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">You have limitations!</a></h4>
                                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                            <li><a href="#">You must find or create team</a></li>
                                            <li><a class="uk-button uk-button uk-button-default" href="#modal-sections" uk-toggle style="border-color: brown;">Create team</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                        </div>

                    </div>
            
                </div>
            </div>

        <!-- <div class="uk-card uk-card-primary uk-width-2-5">
            <div class="uk-card-header">
                <h3>You do not have a team yet</h3>
            </div>
            <div>
                <a class="uk-button uk-button-default" href="#modal-sections" uk-toggle>Create team</a>
            </div>
        </div> -->
        <div class="uk-width-3-5 uk-text-center">
            <h1>Search team</h1>
            <br>
            <form class="uk-search uk-search-navbar uk-width-4-5" style="margin: 2% auto">
                <span class="uk-search-icon-flip" uk-search-icon></span>
                <input class="uk-search-input" id="searchPole" type="search" placeholder="Search">
            </form>
            <div class="uk-grid uk-width-3-5" style="margin: 0 auto" id="teamsList" uk-grid>

            </div>
        </div>
    </div>

        {% endif %}



    <div uk-margin>

        <div id="modal-sections" uk-modal>
            <div class="uk-modal-dialog">
                <form method="POST" class="uk-form-horizontal uk-margin-large">

                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Create team</h2>
                    </div>
                    <div class="uk-modal-body">


                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Team name</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" name="name" type="text" placeholder="Team name...">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-select">Team language</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" name="language" id="form-horizontal-select">
                                    <option>Russian</option>
                                    <option>English</option>
                                    <option>Portuguese</option>
                                </select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Team password</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-horizontal-text" name="password" type="password"
                                    placeholder="****">
                            </div>
                        </div>


                    </div>
                    {% csrf_token %}
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button class="uk-button uk-button-primary" name="createTeam" type="submit">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    // $('#searchPole').on('', '#post-form', function (e) {
    //     e.preventDefault();
    //     if ($('#message').val().trim()) {
    //         $.ajax({
    //             type: 'POST',
    //             url: '/send',
    //             data: {
    //                 username: $('#username').val(),
    //                 room_id: localStorage.activeChat,
    //                 message: $('#message').val(),
    //                 csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
    //             },
    //             success: function (data) {
    //                 // alert(data)
    //             }
    //         });
    //     }
    //     document.getElementById('message').value = ''
    // });
    $("#searchPole").on('input', function () {
        var xhr = new XMLHttpRequest()
        if (this.value) {
            xhr.open('GET', `/searchteam/${this.value}/`)
            xhr.onload = function () {
                $('#teamsList').html(xhr.response)
            }
            xhr.send()
        }
    });
</script>