<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estafeta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    {% include 'menu.html' %}

    <h1 class="uk-text-center" style="margin: 1% auto">Создание теста</h1>
    <form action="" method="POST" class="uk-width-3-5" style="margin: 2% auto">
        <fieldset class="uk-fieldset">

            <div class="uk-flex uk-flex-bottom uk-flex-between uk-text-center uk-margin-medium-bottom">

                <div class="uk-width-1-2">
                    <label>Название</label>
                    <br>
                    <br>
                    <input type="text" name="name" class="uk-input uk-width-5-6" maxlength="100" required>
                </div>
                <div class="uk-width-1-2">
                    <label>Ссылка</label>
                    <br>
                    <br>
                    <input type="text" name="link" class="uk-input uk-width-5-6" required>
                </div>
            </div>

            <div class="uk-flex uk-flex-bottom uk-flex-between uk-text-center uk-margin-medium-bottom">

                <div class="uk-width-1-2">
                    <label>Предметы</label>
                    <br>
                    <br>
                    <div class="uk-flex uk-flex-middle uk-flex-around">
                        <label><input class="uk-radio" name="subject" value="Business" type="radio">Business</label>
                        <label><input class="uk-radio" name="subject" value="Sociology" type="radio">Sociology</label>
                        <label><input class="uk-radio" name="subject" value="Economics" type="radio">Economics</label>
                        <label><input class="uk-radio" name="subject" value="Math" type="radio">Math</label>
                    </div>
                </div>

                <div class="uk-width-1-2">
                    <label>Уровни</label>
                    <br>
                    <br>
                    <div class="uk-flex uk-flex-middle uk-flex-around">
                        <label><input class="uk-radio" name="level" value="Pro" type="radio">Pro</label>
                        <label><input class="uk-radio" name="level" value="Amateur" type="radio">Amateur</label>
                        <label><input class="uk-radio" name="level" value="Normal" type="radio">Normal</label>
                        <label><input class="uk-radio" name="level" value="Beginner" type="radio">Beginner</label>
                    </div>
                </div>
            </div>

            <div class="uk-flex uk-flex-bottom uk-flex-between uk-text-center uk-margin-medium-bottom">
                <div class="uk-width-1-2">
                    <label>Дата и время начала соревнования</label>
                    <input type="date" name="date_start" class="uk-input uk-margin uk-width-5-6" required>
                    <input type="time" name="time_start" class="uk-input uk-width-5-6" required>
                </div>

                <div class="uk-width-1-2">
                    <label>Дата и время конца соревнования</label>
                    <input type="date" name="date_end" class="uk-input uk-margin uk-width-5-6" required>
                    <input type="time" name="time_end" class="uk-input uk-width-5-6" required>
                </div>
            </div>
        </fieldset>
        {% csrf_token %}
        <div class="uk-text-right">
            <button class="uk-button uk-button-primary uk-border-rounded" name="submitBtn" type="submit">Сохранить</button>
        </div>
    </form>

</body>

</html>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>