<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <h1 class="uk-text-center" style="margin: 1% auto">Создание теста</h1>
    <form action="" method="POST" class="uk-width-3-5" style="margin: 2% auto">
        <fieldset class="uk-fieldset">

            <div class="uk-flex uk-flex-bottom uk-flex-between uk-text-center uk-margin-medium-bottom">

                <div class="uk-width-1-2">
                    <label>Название</label>
                    <br>
                    <br>
                    <input type="text" class="uk-input uk-width-5-6" maxlength="100">
                </div>
                <div class="uk-width-1-2">
                    <label>Ссылка</label>
                    <br>
                    <br>
                    <input type="text" class="uk-input uk-width-5-6">
                </div>
            </div>

            <div class="uk-flex uk-flex-bottom uk-flex-between uk-text-center uk-margin-medium-bottom">

                <div class="uk-width-1-2">
                    <label>Предметы</label>
                    <br>
                    <br>
                    <div class="uk-flex uk-flex-middle uk-flex-around">
                        <label><input class="uk-checkbox" value="Business" type="checkbox"> Business</label>
                        <label><input class="uk-checkbox" value="Sociology" type="checkbox"> Sociology</label>
                        <label><input class="uk-checkbox" value="Economics" type="checkbox"> Economics</label>
                        <label><input class="uk-checkbox" value="Math" type="checkbox"> Math</label>
                    </div>
                </div>

                <div class="uk-width-1-2">
                    <label>Уровни</label>
                    <br>
                    <br>
                    <div class="uk-flex uk-flex-middle uk-flex-around">
                        <label><input class="uk-checkbox" value="Pro" type="checkbox"> Pro</label>
                        <label><input class="uk-checkbox" value="Amateur" type="checkbox"> Amateur</label>
                        <label><input class="uk-checkbox" value="Normal" type="checkbox"> Normal</label>
                        <label><input class="uk-checkbox" value="Beginner" type="checkbox"> Beginner</label>
                    </div>
                </div>
            </div>

            <div class="uk-flex uk-flex-bottom uk-flex-between uk-text-center uk-margin-medium-bottom">
                <div class="uk-width-1-2">
                    <label>Дата и время начала соревнования</label>
                    <input type="date" class="uk-input uk-margin uk-width-5-6">
                    <input type="time" class="uk-input uk-width-5-6">
                </div>

                <div class="uk-width-1-2">
                    <label>Дата и время конца соревнования</label>
                    <input type="date" class="uk-input uk-margin uk-width-5-6">
                    <input type="time" class="uk-input uk-width-5-6">
                </div>
            </div>
        </fieldset>
    </form>

</body>

</html>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>