<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <form action="" method="POST" class="uk-width-3-5" style="margin: 0 auto">
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">Создание теста</legend>

            <div class="uk-margin">
                <label>Название</label>
                <input type="text" class="uk-input" maxlength="100">
            </div>

            <div class="uk-margin">
                <label>Предметы</label>
                <label><input class="uk-checkbox" value="Business" type="checkbox"> Business</label>
                <label><input class="uk-checkbox" value="Sociology" type="checkbox"> Sociology</label>
                <label><input class="uk-checkbox" value="Economics" type="checkbox"> Economics</label>
                <label><input class="uk-checkbox" value="Math" type="checkbox"> Math</label>
            </div>

            <div class="uk-margin">
                <label>Уровни</label>
                <label><input class="uk-checkbox" value="Pro" type="checkbox"> Pro</label>
                <label><input class="uk-checkbox" value="Amateur" type="checkbox"> Amateur</label>
                <label><input class="uk-checkbox" value="Normal" type="checkbox"> Normal</label>
                <label><input class="uk-checkbox" value="Beginner" type="checkbox"> Beginner</label>
            </div>

            <div class="uk-margin">
                <label>Ссылка</label>
                <input type="text" class="uk-input">
            </div>

            <div class="uk-margin">
                <label>Дата и время начала соревнования</label>
                <input type="text" class="uk-input">
                <input type="text" class="uk-input">
            </div>

            <div class="uk-margin">
                <label>Дата и время конца соревнования</label>
                <input type="text" class="uk-input">
                <input type="text" class="uk-input">
            </div>
        </fieldset>
    </form>

</body>

</html>