
{% load static %}
{% if user.is_authenticated %}

<nav class="uk-navbar-container uk-width-4-5" style="margin: 0 auto; background-color: rgba(255,255,255,0);" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/hello"><img src="{% static "images/estafeta_logo.jpg" %}" class="uk-border-circle" style="border:1px solid white" width="40" height="40" alt="">Estafeta</a></li>
        </ul>
    </div>

    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Tournaments</a></li>
            <li class="uk-active"><a href="/results/">Results</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-flex uk-flex-middle uk-margin-small-right">
            <a href="/profile/" class="uk-icon-button uk-button-default" uk-icon="user" style="margin-left: 3%;"></a>
        </ul>
        <ul class="uk-navbar-nav">
            <a href="/logout/" uk-icon="icon:  sign-out"></a>
        </ul>
    </div>
</nav>

{% else %}

<nav class="uk-navbar-container uk-width-4-5" style="margin: 0 auto; background-color: rgba(255,255,255,0);" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href=""><img src="{% static "images/estafeta_logo.jpg" %}" class="uk-border-circle" style="border:1px solid white" width="40" height="40" alt="">Estafeta</a></li>
        </ul>
    </div>

    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Home</a></li>
            <li class="uk-active"><a href="/">Tournaments</a></li>
            <li class="uk-active"><a href="#about">About us</a></li>
            <li class="uk-active"><a href="/results/">Results</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-flex uk-flex-middle">
            <li class="uk-active">
                <select class="uk-select uk-border-pill" style="border: none">
                    <option>🇺🇸 USA</option>
                    <option>🇷🇺 RUS</option>
                    <option>🇧🇷 BRA</option>
                    <option>🇬🇧 GBR</option>
                </select>
            </li>

            <li class="uk-active"><a href="/signin/">Get started</a></li>

        </ul>
    </div>
</nav>

{% endif %}