<!doctype html>
<html>

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>BizOpt</title>
	<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>
<style>
	*{
		trasform: 0.5s;	
	}
</style>
<body oncontextmenu='return false' class='snippet-body' style="width: 80%; margin: auto; margin-top: 7%">
	<div class="container" style="margin-top: 5%">
		<h1 style="font-size:30px; text-align: center; ">Добро пожаловать в</h1>
		<h1 style="text-align: center; margin-top: 2%">BeFreela</h1>
		<div style="width: 50%; margin:auto; border: solid black 2px; border-radius: 10px">
			<div class="uk-flex" style="width: 100%">
				<button id="signin"
					style="width: 50%; border-top: 0; border-left: 0; border-bottom: solid black 2px; border-right: solid black 1px; outline: none;"
					class="uk-button uk-button-default" type="button">Вход</button>
				<button id="signup"
					style="width: 50%; border-top: 0; border-right: 0; border-bottom: solid black 2px; border-left: solid black 1px; outline: none;"
					class="uk-button uk-button-default" type="button">Регистрация</button>
			</div>
				<form method="POST" action="." id="signup-form" style="display: none; text-align: center;">
					{% csrf_token %}
					<h3 style="text-align: center; margin-top: 5%">Регистрация</h3>
					<div class="inputs" style="width: 80%; margin: 0 auto">
						<div class="uk-flex uk-flex-center uk-text-center">
							<div class="uk-width-1-2" style="margin: 0 1%">
								<label>Почта</label>
								{{form.email}}
							</div>

							<div class="uk-width-1-2" style="margin: 0 1%">
								<label>Имя</label>
								{{form.first_name}}
							</div>
						</div>
						<br>
						<div class="uk-flex uk-flex-center uk-text-center">
							<div class="uk-width-1-2" style="margin: 0 1%">
								<label>Пароль</label>
							{{form.password1}}
							</div>
							<div class="uk-width-1-2" style="margin: 0 1%">
								<label>Повторите пароль</label>
								{{form.password2}}
							</div>
						</div>
					</div>
					
					<button class="uk-button uk-button-secondary uk-width-1-2 uk-margin" id="signinbtn" type="submit" name="btnform1">Зарегестрироваться</button>
					{% csrf_token %}
				</form>
			<form method="POST" action="." id="signin-form" class="uk-text-center">
				{% csrf_token %}
					<h3 style="text-align: center; margin-top: 5%">Войти</h3>
					<div style="width: 80%; margin:auto">
						<div class="uk-flex-column inputs uk-margin-medium-bottom">
							<label>Почта</label>
							<input type="text" name="email" class="uk-input uk-border uk-border-rounded" placeholder="email@mail.com">
						</div>
						<div class="uk-flex-column inputs">
							<label>Пароль</label>
							<input type="password" name="password" placeholder="Password..." class="uk-input uk-border uk-border-rounded">
						</div>
					</div>
					<br>
					<button class="uk-button uk-button-secondary uk-width-1-2 uk-margin" type="submit" name="btnform2">Войти</button>

			</form>

		</div>
	</div>
	</div>


</body>

<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'>
</script>
<script>
	
	$('.pswdChecker').on('input', function(event) {
		pswd1 = $('#password1');
		pswd2 = $('#password2');
		if ((pswd1.val() != pswd2.val()) && (pswd1.length < 8 || pswd2.length < 8)) {
			pswd1.css('border-color', 'red')
			pswd2.css('border-color', 'red')
			$('#signinbtn').attr('disabled', 'disabled')
		} else {
			pswd1.css('border-color', 'green')
			pswd2.css('border-color', 'green')
			$('#signinbtn').attr('disabled', false)
		}
	})

	$(document).ready(function () {
		$("#signup").click(function () {
			$("#signin-form").css("display", "none");
			$("#signup-form").css("display", "");
		});

		$("#signin").click(function () {
			$("#signup-form").css("display", "none");
			$("#signin-form").css("display", "");
		});
	});
</script>

</html>