<!doctype html>
<html>

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>BizOpt</title>
	<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>
<style>
	*{
		trasform: 0.5s;	
	}
</style>
<body oncontextmenu='return false' class='snippet-body' style="width: 80%; margin: auto; margin-top: 7%">
	<div class="container" style="margin-top: 5%">
		<h1 style="font-size:30px; text-align: center; font-weight:700; color: #170F49;">Create account</h3>
		<p style="text-align: center; margin-top: 2%; color: #6F6C90;">Please fill the form below to have access to all functions. Feel free to add as much detail as needed.</p>
		<div style="width: 50%; margin:auto; border: solid black 2px; border-radius: 10px">

				<form method="POST" action="." id="signup-form" style=" text-align: center;">
					{% csrf_token %}
					<h3 style="text-align: center; margin-top: 5%">Регистрация</h3>
					<div class="inputs" style="width: 80%; margin: 0 auto">
						<div class="uk-flex uk-flex-center uk-text-center">
							<div class="uk-width-1-2" style="margin: 0 1%">
								<label>Почта</label>
								{{form.email}}
							</div>

							<div class="uk-width-1-2" style="margin: 0 1%">
								<label>Имя</label>
								{{form.first_name}}
							</div>
						</div>
						<br>
						<div class="uk-flex uk-flex-center uk-text-center">
							<div class="uk-width-1-2" style="margin: 0 1%">
								<label>Пароль</label>
							{{form.password1}}
							</div>
							<div class="uk-width-1-2" style="margin: 0 1%">
								<label>Повторите пароль</label>
								{{form.password2}}
							</div>
						</div>
					</div>
					
					<button class="uk-button uk-button-secondary uk-width-1-2 uk-margin" id="signinbtn" type="submit" name="btnform1">Зарегестрироваться</button>
					{% csrf_token %}
				</form>

		</div>
	</div>
	</div>


</body>

<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'>
</script>


</html>